<?xml version="1.0"?>
<config>
  <modules>
    <Eloom_Correios>
      <version>##eloom.versao##</version>
    </Eloom_Correios>
  </modules>
    
  <frontend>
    <translate>
      <modules>
        <eloom_correios>
          <files>
            <default>Eloom_Correios.csv</default>
          </files>
        </eloom_correios>
      </modules>
    </translate>
  </frontend>
    
  <adminhtml>
    <translate>
      <modules>
        <eloom_correios>
          <files>
            <default>Eloom_Correios.csv</default>
          </files>
        </eloom_correios>
      </modules>
    </translate>
  </adminhtml>
    
  <global>
    <resources>
      <eloom_correios_setup>
        <setup>
          <module>Eloom_Correios</module>
          <class>Eloom_Correios_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </eloom_correios_setup>
      <eloom_correios_write>
        <connection>
          <use>core_write</use>
        </connection>
      </eloom_correios_write>
      <eloom_correios_read>
        <connection>
          <use>core_read</use>
        </connection>
      </eloom_correios_read>
    </resources>

    <helpers>
      <eloom_correios>
        <class>Eloom_Correios_Helper</class>
      </eloom_correios>
    </helpers>
    <blocks>
      <eloom_correios>
        <class>Eloom_Correios_Block</class>
      </eloom_correios>
    </blocks>
    <models>
      <eloom_correios>
        <class>Eloom_Correios_Model</class>
      </eloom_correios>
    </models>
  </global>
  <default>
    <carriers>
      <eloom_correios>
        <active>0</active>
        <model>eloom_correios/carrier</model>
        <title>Correios</title>
        <showmethod>0</showmethod>
        <cd_servico>04510,04014</cd_servico>
        <servico_gratuito>04510</servico_gratuito>
        <servico_gratuito_desconto>0.00</servico_gratuito_desconto>
        <cd_formato>1</cd_formato>
        <tp_vl_peso>kg</tp_vl_peso>
        <vl_valor_declarado>0</vl_valor_declarado>
        <altura_padrao>2</altura_padrao>
        <comprimento_padrao>16</comprimento_padrao>
        <largura_padrao>11</largura_padrao>
        <prazo_entrega>1</prazo_entrega>
        <taxa_extra>0</taxa_extra>
        <taxa_extra_valor>0.00</taxa_extra_valor>
        <prazo_extra>0</prazo_extra>
        <mensagem_prazo_entrega><![CDATA[%s - Até %d dia(s) úteis]]></mensagem_prazo_entrega>
        <sort_order>1</sort_order>
        <volume_weight_min>5</volume_weight_min>
        <writelog>0</writelog>
      </eloom_correios>
    </carriers>
  </default>
</config>
