<?xml version="1.0"?>
<config>
	<modules>
		<Eloom_CorreiosSro>
			<version>##eloom.versao##</version>
		</Eloom_CorreiosSro>
	</modules>

	<frontend>
		<translate>
			<modules>
				<eloom_correiossro>
					<files>
						<default>Eloom_CorreiosSro.csv</default>
					</files>
				</eloom_correiossro>
			</modules>
		</translate>
	</frontend>

	<adminhtml>
		<layout>
			<updates>
				<eloom_correiossro>
					<file>eloom/correios/sro.xml</file>
				</eloom_correiossro>
			</updates>
		</layout>
		<translate>
			<modules>
				<eloom_correiossro>
					<files>
						<default>Eloom_CorreiosSro.csv</default>
					</files>
				</eloom_correiossro>
			</modules>
		</translate>
	</adminhtml>

	<global>
		<template>
			<email>
				<eloom_correiossro_template_status_entrega translate="label" module="eloom_correiossro">
					<label>Correios SRO - Status de Entrega</label>
					<file>eloom/correios/sro/status_entrega.html</file>
					<type>html</type>
				</eloom_correiossro_template_status_entrega>
				<eloom_correiossro_template_encomenda_entregue translate="label" module="eloom_correiossro">
					<label>Correios SRO - Encomenda Entregue</label>
					<file>eloom/correios/sro/encomenda_entregue.html</file>
					<type>html</type>
				</eloom_correiossro_template_encomenda_entregue>
			</email>
		</template>
		<resources>
			<eloom_correiossro_setup>
				<setup>
					<module>Eloom_CorreiosSro</module>
					<class>Eloom_CorreiosSro_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</eloom_correiossro_setup>
			<eloom_correiossro_write>
				<connection>
					<use>core_write</use>
				</connection>
			</eloom_correiossro_write>
			<eloom_correiossro_read>
				<connection>
					<use>core_read</use>
				</connection>
			</eloom_correiossro_read>
		</resources>

		<events>
			<eloom_correiossro_sms>
				<observers>
					<eloom_correiossro_sms_send_after_change_status>
						<type>singleton</type>
						<class>eloom_correiossro/observer</class>
						<method>sendSms</method>
					</eloom_correiossro_sms_send_after_change_status>
				</observers>
			</eloom_correiossro_sms>
			<eloom_correiossro_email_status_entrega>
				<observers>
					<eloom_correiossro_email_send_status_entrega_after_change_status>
						<type>singleton</type>
						<class>eloom_correiossro/observer</class>
						<method>sendEmailStatusEntrega</method>
					</eloom_correiossro_email_send_status_entrega_after_change_status>
				</observers>
			</eloom_correiossro_email_status_entrega>
			<eloom_correiossro_email_encomenda_entregue>
				<observers>
					<eloom_correiossro_email_send_status_entrega_after_change_status>
						<type>singleton</type>
						<class>eloom_correiossro/observer</class>
						<method>sendEmailEncomendaEntregue</method>
					</eloom_correiossro_email_send_status_entrega_after_change_status>
				</observers>
			</eloom_correiossro_email_encomenda_entregue>
		</events>

		<helpers>
			<eloom_correiossro>
				<class>Eloom_CorreiosSro_Helper</class>
			</eloom_correiossro>
		</helpers>
		<blocks>
			<eloom_correiossro>
				<class>Eloom_CorreiosSro_Block</class>
			</eloom_correiossro>
			<eloom_correiossro_adminhtml>
				<class>Eloom_CorreiosSro_Block_Adminhtml</class>
			</eloom_correiossro_adminhtml>
		</blocks>
		<models>
			<eloom_correiossro>
				<class>Eloom_CorreiosSro_Model</class>
				<resourceModel>eloom_correiossro_resource</resourceModel>
			</eloom_correiossro>
			<eloom_correiossro_resource>
				<class>Eloom_CorreiosSro_Model_Resource</class>
				<entities>
					<sonda>
						<table>eloom_correiossro_sonda</table>
					</sonda>
				</entities>
			</eloom_correiossro_resource>
		</models>
	</global>
	<admin>
		<routers>
			<eloom_correiossro>
				<use>admin</use>
				<args>
					<module>Eloom_CorreiosSro_Adminhtml</module>
					<frontName>admin_correiossro</frontName>
				</args>
			</eloom_correiossro>
		</routers>
	</admin>
	<default>
		<eloom_correiossro>
			<general>
				<active>1</active>
				<usuario>ECT</usuario>
				<senha>SRO</senha>
				<url>http://webservice.correios.com.br/service/rastro/Rastro.wsdl</url>
				<identity>general</identity>
				<writelog>0</writelog>
			</general>
			<template>
				<status_entrega>eloom_correiossro_template_status_entrega</status_entrega>
				<encomenda_entregue>eloom_correiossro_template_encomenda_entregue</encomenda_entregue>
			</template>
			<iagente>
				<active>0</active>
				<mobile_local>order_address</mobile_local>
				<mobile_field>mobile</mobile_field>
				<url>http://www.iagentesms.com.br/webservices/http.php</url>
			</iagente>
		</eloom_correiossro>
	</default>

	<crontab>
		<jobs>
			<eloom_correiossro_status_entrega>
				<schedule>
					<cron_expr>##cron_expr_statusEntrega##</cron_expr>
				</schedule>
				<run>
					<model>eloom_correiossro/cron::statusEntrega</model>
				</run>
			</eloom_correiossro_status_entrega>
		</jobs>
	</crontab>
</config>