<?xml version="1.0"?>
<config>
    <sections>
        <eloom_correiossro translate="label" module="eloom_correiossro">
            <class>separator-top</class>
            <label><![CDATA[Correios - SRO]]></label>
            <tab>eloom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            
            <groups>
                <information>
                    <label><![CDATA[Information]]></label>
                    <frontend_model>eloom_correiossro/adminhtml_form_information</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                </information>
                <general translate="label">
                    <label><![CDATA[Configurações Gerais do SRO]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Procedimentos para solicitar o Serviço de Rastreamento de Objetos <a href="http://www.correios.com.br/para-sua-empresa/comercio-eletronico/sistema-de-rastreamento-de-objetos" target="_blank">aqui</a>.]]></comment>
                        </active>
                        <usuario>
                            <label><![CDATA[Usuário]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Usuário do Serviço de Rastreamento de Objetos.]]></comment>
                        </usuario>
                        <senha>
                            <label><![CDATA[Senha]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Senha do Serviço de Rastreamento de Objetos.]]></comment>
                        </senha>
                        <identity translate="label">
                            <label><![CDATA[Remetente do Email]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Remetente usado nos emails enviados pelo Módulo.]]></comment>
                        </identity>
                        <writelog translate="label">
                            <label><![CDATA[Gravar resposta dos Correios em log]]></label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Arquivo está em {{base_dir}}/var/log/eloom-yyyy-mm-dd.log]]>
                            </comment>
                        </writelog>
                    </fields>
                </general>
                <template translate="label">
                    <label><![CDATA[Templates de email]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <status_entrega translate="label">
                            <label><![CDATA[Template dos Status Intermediários]]></label>
                            <frontend_type>select</frontend_type>
                            <config_path>eloom_correiossro/template/status_entrega</config_path>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Modelo de template usado nos emails de status inicial e intermediários.</comment>
                        </status_entrega>
                        <encomenda_entregue translate="label">
                            <label><![CDATA[Template da Encomenda Entregue]]></label>
                            <frontend_type>select</frontend_type>
                            <config_path>eloom_correiossro/template/encomenda_entregue</config_path>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Modelo de template usado nos emails de status final.</comment>
                        </encomenda_entregue>
                    </fields>
                </template>
                <iagente translate="label">
                    <label><![CDATA[Configurações do IAGENTE SMS]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Contrate o Serviço de SMS Corporativo <a href="https://www.iagente.com.br/envio-sms" target="_blank">aqui</a>.]]></comment>
                        </active>
                        <usuario>
                            <label><![CDATA[Usuário]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <active>1</active>
                            </depends>
                            <comment><![CDATA[Login no IAGENTE.]]></comment>
                        </usuario>
                        <senha>
                            <label><![CDATA[Senha]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <active>1</active>
                            </depends>
                            <comment><![CDATA[Senha no IAGENTE.]]></comment>
                        </senha>
                        <mobile_local>
                            <label><![CDATA[Local Campo Celular]]></label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>Eloom_CorreiosSro_Model_System_Config_Source_MobileLocal</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Tabela onde está o campo Celular.]]></comment>
                        </mobile_local>
                        <mobile_field>
                            <label><![CDATA[Nome Campo Celular]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Nome que está mapeado o campo Celular.]]></comment>
                        </mobile_field>
                    </fields>
                </iagente>
            </groups>
        </eloom_correiossro>
    </sections>
</config>